In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv('data/United States_US.csv')

In [4]:
df.head(10)

,Date,Name,Type,Country Name,Country Code
0,2023-01-01,New Year's Day,['Local holiday'],United States,US
1,2023-01-01,New Year's Day,['Local holiday'],United States,US
2,2023-01-01,New Year's Day,['Local holiday'],United States,US
3,2023-01-01,New Year's Day,['Local holiday'],United States,US
4,2023-01-01,New Year's Day,['National holiday'],United States,US
5,2023-01-02,New Year's Day (substitute),['Local holiday'],United States,US
6,2023-01-02,New Year's Day (substitute),['National holiday'],United States,US
7,2023-01-02,New Year's Day (substitute),['Local holiday'],United States,US
8,2023-01-02,New Year's Day (substitute),['Local holiday'],United States,US
9,2023-01-03,Asarah B'Tevet,['Hebrew'],United States,US

In [5]:
df.Type.value_counts

<bound method IndexOpsMixin.value_counts of 0                  ['Local holiday']
1                  ['Local holiday']
2                  ['Local holiday']
3                  ['Local holiday']
4               ['National holiday']
                   ...
627                ['Local holiday']
628                ['Local holiday']
629    ['United Nations observance']
630                   ['Observance']
631                ['Local holiday']
Name: Type, Length: 632, dtype: object>

In [15]:
types = np.array(df.Type.value_counts)