In [1]:
import pandas as pd
import requests

url = "https://www.datos.gov.co/resource/r86y-229a.json"

response = requests.get(url)
∫
if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)
    
else:
    print("Error: ", response.status_code)
    

df.head(10)

,periodo,facultad,programa,total_matricula,sexo_feme,sexo_masc,estrato_1,estrato_2,estrato_3,estrato_4,estrato_5,estrato_6
0,2015-1,Medicina Veterinaria y Zootecnia,Acuicultura,216,90,126,185,24,4,1,2,0
1,2015-1,"Ciencias Economicas, Jurídicas y Administrativas",Adminis. en Finanzas y Negocios Internacionales,1380,809,571,1189,172,16,3,0,0
2,2015-1,Ciencias de la Salud,Administración en Salud,1642,1052,590,1484,149,8,1,0,0
3,2015-1,Ciencias de la Salud,Bacteriología,770,574,196,686,76,7,1,0,0
4,2015-1,Ciencias Básicas,Biología,540,339,201,483,52,3,2,0,0
5,2015-1,Ciencias de la Salud,Enfermería,830,683,147,739,85,6,0,0,0
6,2015-1,Ciencias Básicas,Estadística,94,40,52,79,15,0,0,0,0
7,2015-1,Ciencias Básicas,Geografía,289,141,148,256,32,1,0,0,0
8,2015-1,Ciencias Agrícolas,Ingeniería Agronómica,473,178,295,410,57,6,0,0,0
9,2015-1,Ingenierías,Ingeniería Ambiental,1087,575,511,890,187,10,0,0,0

In [2]:
df.describe()

,periodo,facultad,programa,total_matricula,sexo_feme,sexo_masc,estrato_1,estrato_2,estrato_3,estrato_4,estrato_5,estrato_6
count,402,402,402,402,402,402,402,402,397,402,402,402
unique,13,7,32,256,194,199,256,94,20,6,4,2
top,2017-1,Educación y Ciencias Humanas,Acuicultura,0,0,0,0,0,0,0,0,0
freq,32,99,13,49,52,51,49,61,170,330,372,393

In [3]:
df.dtypes

periodo            object
facultad           object
programa           object
total_matricula    object
sexo_feme          object
sexo_masc          object
estrato_1          object
estrato_2          object
estrato_3          object
estrato_4          object
estrato_5          object
estrato_6          object
dtype: object

In [4]:
df["estrato_1"] = df["estrato_1"].astype(int)
df["estrato_2"] = df["estrato_2"].astype(int)
#df["estrato_3"] = df["estrato_3"].astype(int)
df["estrato_4"] = df["estrato_4"].astype(int)
df["estrato_5"] = df["estrato_5"].astype(int)
df["estrato_6"] = df["estrato_6"].astype(int)

df.dtypes

periodo            object
facultad           object
programa           object
total_matricula    object
sexo_feme          object
sexo_masc          object
estrato_1           int64
estrato_2           int64
estrato_3          object
estrato_4           int64
estrato_5           int64
estrato_6           int64
dtype: object

In [5]:

#df["estrato_3"].isna().sum()

df.loc[df["estrato_3"].isna()]

,periodo,facultad,programa,total_matricula,sexo_feme,sexo_masc,estrato_1,estrato_2,estrato_3,estrato_4,estrato_5,estrato_6
58,2016-1,Ciencias Básicas,Biología,146,86,60,136,10,NaN,0,0,0
232,2018-2,Educación y Ciencias Humanas,Licenciatura en Educación Infantil,398,364,34,381,17,NaN,0,0,0
234,2018-2,Ciencias Básicas,Matemáticas,72,22,50,64,8,NaN,0,0,0
264,2019-1,Educación y Ciencias Humanas,Licenciatura en Educación Infantil,571,513,58,545,26,NaN,0,0,0
347,2020-2,Ciencias Básicas,Geografía,126,62,64,117,9,NaN,0,0,0

In [6]:
df["estrato_3"].fillna(0, inplace=True)

In [7]:
df.estrato_3 = df.estrato_3.astype(int)

In [8]:
df.dtypes

periodo            object
facultad           object
programa           object
total_matricula    object
sexo_feme          object
sexo_masc          object
estrato_1           int64
estrato_2           int64
estrato_3           int64
estrato_4           int64
estrato_5           int64
estrato_6           int64
dtype: object

In [9]:
df.shape

(402, 12)